.image-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.card-shadow {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}